body{
    margin:0;
    padding:0;
    background:grey;
}

.board{
    margin-left:100px;
    width:410px;
    height:400px;
    background:cornflowerblue;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.square{
    font-size:14px;
    margin-left:10px;
    margin-top:10px;
    width:90px;
    height:90px;
    background:crimson;
}

.current_piece{
    margin-left:200px;
    margin-bottom:50px;
}

.p_a{
    background: url('assets/img/pièce\ A.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}

.p_b{
    background: url('assets/img/pièce\ B.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}

.p_c{
    background: url('assets/img/pièce\ C.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}

.p_d{
    background: url('assets/img/pièce\ D.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}

.p_e{
    background: url('assets/img/pièce\ E.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}

.p_f{
    background: url('assets/img/pièce\ F.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}

.p_y{
    background: url('assets/img/pièce\ Y.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}

.p_z{
    background: url('assets/img/pièce\ Z.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}