body{
    margin:0;
    padding:0;
    background:rgb(129, 129, 129);
}

.board{
   /* margin-left:200px; */
    width:800px;
    height:800px;
    background:rgb(129, 129, 129);
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    position:absolute;
    left:400px;
    top:70px;
}

.square{
    font-size:14px;
    margin-left:10px;
    margin-top:10px;
    width:90px;
    height:90px;
    background:rgb(138, 201, 238);
}

h1{
    margin-left:550px;
    position:relative;
    color:rgb(0, 0, 0);
    animation: 2s animateTitle ease-in-out forwards;
}

@keyframes animateTitle{
    from{
        left:-1000px;
    } to{
        left:0px;
    }
}

h2{
    margin-left:50px;
    font-size:36px;
    font-family: Quantico, 'Times New Roman', Times, serif;
}

h3{
    margin-left:50px;
    font-size:24px;
    font-family: Quantico, 'Times New Roman', Times, serif;
    color: rgb(165, 11, 11);
}

h4{
    margin-left:50px;
    font-size:24px;
    font-family: Quantico, 'Times New Roman', Times, serif;
}

#btn_start:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg ,transparent,#87b1ff, transparent);
    transition: all .65s;
}

#btn_start{
    font-size: 1.5rem;
    padding: 0.6rem 1.5rem;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    margin-bottom:75px;
    margin-left:50px;
}

#btn_start:hover {
    box-shadow: 1px 1px 25px 10px rgb(228, 87, 87);
    border-color: rgb(252, 77, 77);
    color: rgb(250, 53, 53);
  }

#btn_start:before {
content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
  120deg,
  transparent,
   rgb(228, 87, 87),
  transparent
 );
 transition: all 650ms;
}
  
#btn_start:hover:before {
    left: 100%;
}

.current_piece{
    margin-left:200px;
    margin-bottom:50px;
}

#current_piece{
    width: 200px;
    height:200px;
    margin-top:75px;
    margin-left:100px;
}

.invisible_piece{
    margin-left:200px;
    margin-bottom:50px;
    background:rgb(0, 0, 0);
    position: absolute;
    Top:0px;
    Left:0px;
    visibility:hidden;
}

.forbidden{
    background: url('assets/img/forbidden.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}

.p_a{
    background: url('assets/img/A/A.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}

.p_b{
    background: url('assets/img/B/B.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}

.p_c{
    background: url('assets/img/C/C.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}

.p_d{
    background: url('assets/img/D/D.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}

.p_e{
    background: url('assets/img/E/E.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}

.p_f{
    background: url('assets/img/F/F.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}

.p_y{
    background: url('assets/img/Y/Y.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}

.p_z{
    background: url('assets/img/Z/Z.png');  
    background-size: cover;
    width:90px;
    height:90px;  
}

.moving_a_0{
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation: piece_a_moving_from_top_to_bottom 1s forwards;
            animation: piece_a_moving_from_top_to_bottom 1s forwards;
}

.moving_a_1{
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation: piece_a_moving_from_bottom_to_top 1s forwards;
            animation: piece_a_moving_from_bottom_to_top 1s forwards;
}

.moving_b_0{
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation: piece_b_moving_from_left_to_right 1s forwards;
            animation: piece_b_moving_from_left_to_right 1s forwards;
}

.moving_b_1{
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation: piece_b_moving_from_right_to_left 1s forwards;
            animation: piece_b_moving_from_right_to_left 1s forwards;
}

.moving_c_0{
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation: piece_c_moving_from_bottom_to_right 1s forwards;
            animation: piece_c_moving_from_bottom_to_right 1s forwards;
}

.moving_c_1{
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation: piece_c_moving_from_right_to_bottom 1s forwards;
            animation: piece_c_moving_from_right_to_bottom 1s forwards;
}

.moving_d_0{
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation: piece_d_moving_from_left_to_bottom 1s forwards;
            animation: piece_d_moving_from_left_to_bottom 1s forwards;
}

.moving_d_1{
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation: piece_d_moving_from_bottom_to_left 1s forwards;
            animation: piece_d_moving_from_bottom_to_left 1s forwards;
}

.moving_e_0{
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation: piece_e_moving_from_right_to_top 1s forwards;
            animation: piece_e_moving_from_right_to_top 1s forwards;
}

.moving_e_1{
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation: piece_e_moving_from_top_to_right 1s forwards;
            animation: piece_e_moving_from_top_to_right 1s forwards;
}

.moving_f_0{
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation: piece_f_moving_from_top_to_left 1s forwards;
            animation: piece_f_moving_from_top_to_left 1s forwards;
}

.moving_f_1{
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation: piece_f_moving_from_left_to_top 1s forwards;
            animation: piece_f_moving_from_left_to_top 1s forwards;
}

.moving_y{
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation: piece_y_moving 1s forwards;
            animation: piece_y_moving 1s forwards;
}

.moving_z{
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-animation: piece_z_moving 1s forwards;
            animation: piece_z_moving 1s forwards;
}



/* animation liquid in tube */

/* tube A */
@-webkit-keyframes piece_a_moving_from_bottom_to_top{
    10%{
        background-image: url('assets/img/A/A_0_1.png');
    }
    20%{
        background-image: url('assets/img/A/A_0_2.png');
    }
    30%{
        background-image: url('assets/img/A/A_0_3.png');
    }
    40%{
        background-image: url('assets/img/A/A_0_4.png');
    }
    50%{
        background-image: url('assets/img/A/A_0_5.png');
    }
    60%{
        background-image: url('assets/img/A/A_0_6.png');
    }
    70%{
        background-image: url('assets/img/A/A_0_7.png');
    }
    80%{
        background-image: url('assets/img/A/A_0_8.png');
    }
    90%{
        background-image: url('assets/img/A/A_0_9.png');
    }
    100%{
        background-image: url('assets/img/A/A_x.png');
    }
}

@-webkit-keyframes piece_a_moving_from_top_to_bottom{
    10%{
        background-image: url('assets/img/A/A_1_1.png');
    }
    20%{
        background-image: url('assets/img/A/A_1_2.png');
    }
    30%{
        background-image: url('assets/img/A/A_1_3.png');
    }
    40%{
        background-image: url('assets/img/A/A_1_4.png');
    }
    50%{
        background-image: url('assets/img/A/A_1_5.png');
    }
    60%{
        background-image: url('assets/img/A/A_1_6.png');
    }
    70%{
        background-image: url('assets/img/A/A_1_7.png');
    }
    80%{
        background-image: url('assets/img/A/A_1_8.png');
    }
    90%{
        background-image: url('assets/img/A/A_1_9.png');
    }
    100%{
        background-image: url('assets/img/A/A_x.png');
    }
}

/* tube B */
@-webkit-keyframes piece_b_moving_from_left_to_right{
    10%{
        background-image: url('assets/img/B/B_0_1.png');
    }
    20%{
        background-image: url('assets/img/B/B_0_2.png');
    }
    30%{
        background-image: url('assets/img/B/B_0_3.png');
    }
    40%{
        background-image: url('assets/img/B/B_0_4.png');
    }
    50%{
        background-image: url('assets/img/B/B_0_5.png');
    }
    60%{
        background-image: url('assets/img/B/B_0_6.png');
    }
    70%{
        background-image: url('assets/img/B/B_0_7.png');
    }
    80%{
        background-image: url('assets/img/B/B_0_8.png');
    }
    90%{
        background-image: url('assets/img/B/B_0_9.png');
    }
    100%{
        background-image: url('assets/img/B/B_x.png');
    }
}

@-webkit-keyframes piece_b_moving_from_right_to_left{
    10%{
        background-image: url('assets/img/B/B_1_1.png');
    }
    20%{
        background-image: url('assets/img/B/B_1_2.png');
    }
    30%{
        background-image: url('assets/img/B/B_1_3.png');
    }
    40%{
        background-image: url('assets/img/B/B_1_4.png');
    }
    50%{
        background-image: url('assets/img/B/B_1_5.png');
    }
    60%{
        background-image: url('assets/img/B/B_1_6.png');
    }
    70%{
        background-image: url('assets/img/B/B_1_7.png');
    }
    80%{
        background-image: url('assets/img/B/B_1_8.png');
    }
    90%{
        background-image: url('assets/img/B/B_1_9.png');
    }
    100%{
        background-image: url('assets/img/B/B_x.png');
    }
}

/* tube C */
@-webkit-keyframes piece_c_moving_from_bottom_to_right{
    10%{
        background-image: url('assets/img/C/C_0_1.png');
    }
    20%{
        background-image: url('assets/img/C/C_0_2.png');
    }
    30%{
        background-image: url('assets/img/C/C_0_3.png');
    }
    40%{
        background-image: url('assets/img/C/C_0_4.png');
    }
    50%{
        background-image: url('assets/img/C/C_0_5.png');
    }
    60%{
        background-image: url('assets/img/C/C_0_6.png');
    }
    70%{
        background-image: url('assets/img/C/C_0_7.png');
    }
    80%{
        background-image: url('assets/img/C/C_0_8.png');
    }
    90%{
        background-image: url('assets/img/C/C_0_9.png');
    }
    100%{
        background-image: url('assets/img/C/C_x.png');
    }
}

@-webkit-keyframes piece_c_moving_from_right_to_bottom{
    10%{
        background-image: url('assets/img/C/C_1_1.png');
    }
    20%{
        background-image: url('assets/img/C/C_1_2.png');
    }
    30%{
        background-image: url('assets/img/C/C_1_3.png');
    }
    40%{
        background-image: url('assets/img/C/C_1_4.png');
    }
    50%{
        background-image: url('assets/img/C/C_1_5.png');
    }
    60%{
        background-image: url('assets/img/C/C_1_6.png');
    }
    70%{
        background-image: url('assets/img/C/C_1_7.png');
    }
    80%{
        background-image: url('assets/img/C/C_1_8.png');
    }
    90%{
        background-image: url('assets/img/C/C_1_9.png');
    }
    100%{
        background-image: url('assets/img/C/C_x.png');
    }
}

/* tube D */
@-webkit-keyframes piece_d_moving_from_left_to_bottom{
    10%{
        background-image: url('assets/img/D/D_0_1.png');
    }
    20%{
        background-image: url('assets/img/D/D_0_2.png');
    }
    30%{
        background-image: url('assets/img/D/D_0_3.png');
    }
    40%{
        background-image: url('assets/img/D/D_0_4.png');
    }
    50%{
        background-image: url('assets/img/D/D_0_5.png');
    }
    60%{
        background-image: url('assets/img/D/D_0_6.png');
    }
    70%{
        background-image: url('assets/img/D/D_0_7.png');
    }
    80%{
        background-image: url('assets/img/D/D_0_8.png');
    }
    90%{
        background-image: url('assets/img/D/D_0_9.png');
    }
    100%{
        background-image: url('assets/img/D/D_x.png');
    }
}

@-webkit-keyframes piece_d_moving_from_bottom_to_left{
    10%{
        background-image: url('assets/img/D/D_1_1.png');
    }
    20%{
        background-image: url('assets/img/D/D_1_2.png');
    }
    30%{
        background-image: url('assets/img/D/D_1_3.png');
    }
    40%{
        background-image: url('assets/img/D/D_1_4.png');
    }
    50%{
        background-image: url('assets/img/D/D_1_5.png');
    }
    60%{
        background-image: url('assets/img/D/D_1_6.png');
    }
    70%{
        background-image: url('assets/img/D/D_1_7.png');
    }
    80%{
        background-image: url('assets/img/D/D_1_8.png');
    }
    90%{
        background-image: url('assets/img/D/D_1_9.png');
    }
    100%{
        background-image: url('assets/img/D/D_x.png');
    }
}

/* tube E */
@-webkit-keyframes piece_e_moving_from_right_to_top{
    10%{
        background-image: url('assets/img/E/E_0_1.png');
    }
    20%{
        background-image: url('assets/img/E/E_0_2.png');
    }
    30%{
        background-image: url('assets/img/E/E_0_3.png');
    }
    40%{
        background-image: url('assets/img/E/E_0_4.png');
    }
    50%{
        background-image: url('assets/img/E/E_0_5.png');
    }
    60%{
        background-image: url('assets/img/E/E_0_6.png');
    }
    70%{
        background-image: url('assets/img/E/E_0_7.png');
    }
    80%{
        background-image: url('assets/img/E/E_0_8.png');
    }
    90%{
        background-image: url('assets/img/E/E_0_9.png');
    }
    100%{
        background-image: url('assets/img/E/E_x.png');
    }
}

@-webkit-keyframes piece_e_moving_from_top_to_right{
    10%{
        background-image: url('assets/img/E/E_1_1.png');
    }
    20%{
        background-image: url('assets/img/E/E_1_2.png');
    }
    30%{
        background-image: url('assets/img/E/E_1_3.png');
    }
    40%{
        background-image: url('assets/img/E/E_1_4.png');
    }
    50%{
        background-image: url('assets/img/E/E_1_5.png');
    }
    60%{
        background-image: url('assets/img/E/E_1_6.png');
    }
    70%{
        background-image: url('assets/img/E/E_1_7.png');
    }
    80%{
        background-image: url('assets/img/E/E_1_8.png');
    }
    90%{
        background-image: url('assets/img/E/E_1_9.png');
    }
    100%{
        background-image: url('assets/img/E/E_x.png');
    }
}

/* tube F */
@-webkit-keyframes piece_f_moving_from_top_to_left{
    10%{
        background-image: url('assets/img/F/F_0_1.png');
    }
    20%{
        background-image: url('assets/img/F/F_0_2.png');
    }
    30%{
        background-image: url('assets/img/F/F_0_3.png');
    }
    40%{
        background-image: url('assets/img/F/F_0_4.png');
    }
    50%{
        background-image: url('assets/img/F/F_0_5.png');
    }
    60%{
        background-image: url('assets/img/F/F_0_6.png');
    }
    70%{
        background-image: url('assets/img/F/F_0_7.png');
    }
    80%{
        background-image: url('assets/img/F/F_0_8.png');
    }
    90%{
        background-image: url('assets/img/F/F_0_9.png');
    }
    100%{
        background-image: url('assets/img/F/F_x.png');
    }
}

@-webkit-keyframes piece_f_moving_from_left_to_top{
    10%{
        background-image: url('assets/img/F/F_1_1.png');
    }
    20%{
        background-image: url('assets/img/F/F_1_2.png');
    }
    30%{
        background-image: url('assets/img/F/F_1_3.png');
    }
    40%{
        background-image: url('assets/img/F/F_1_4.png');
    }
    50%{
        background-image: url('assets/img/F/F_1_5.png');
    }
    60%{
        background-image: url('assets/img/F/F_1_6.png');
    }
    70%{
        background-image: url('assets/img/F/F_1_7.png');
    }
    80%{
        background-image: url('assets/img/F/F_1_8.png');
    }
    90%{
        background-image: url('assets/img/F/F_1_9.png');
    }
    100%{
        background-image: url('assets/img/F/F_x.png');
    }
}

/* tube y */
@-webkit-keyframes piece_y_moving{
    10%{
        background-image: url('assets/img/Y/Y1.png');
    }
    40%{
        background-image: url('assets/img/Y/Y2.png');
    }
    70%{
        background-image: url('assets/img/Y/Y3.png');
    }
    100%{
        background-image: url('assets/img/Y/Y4.png');
    }
}

/* tube z */
@-webkit-keyframes piece_z_moving{
    10%{
        background-image: url('assets/img/Z/Z1.png');
    }
    20%{
        background-image: url('assets/img/Z/Z2.png');
    }
    40%{
        background-image: url('assets/img/Z/Z3.png');
    }
    60%{
        background-image: url('assets/img/Z/Z4.png');
    }
    80%{
        background-image: url('assets/img/Z/Z5.png');
    }
    100%{
        background-image: url('assets/img/Z/Z6.png');
    }
}
